<tr>
  <td class="py-2 px-3">{{ booking.start|date:"Y-m-d H:i" }}</td>
  <td class="py-2 px-3">{{ booking.end|date:"H:i" }}</td>
  {% if show_member %}
  <td class="py-2 px-3">{{ booking.member.name }}</td>
  {% endif %}
  <td class="py-2 px-3">{{ booking.product.title }}</td>
  <td class="py-2 px-3">{{ booking.deducted_minutes }}분</td>
  <td class="py-2 px-3 text-right">
    <button hx-post="{% url 'booking_cancel' booking.id %}"
            hx-target="#booking-table"
            hx-on:htmx:afterRequest="if(event.detail.xhr.status===201) document.dispatchEvent(new CustomEvent('booking:canceled'))"
            class="text-rose-600 hover:underline">취소</button>
  </td>
</tr>
